version: "3.8"

volumes :
  mariadb-volume: {}
networks: 
  db-api: 
    driver: bridge
  backend:
    driver: bridge

services:

########
# logs #
########
  dozzle:
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - backend
    environment:
      DOZZLE_NO_ANALYTICS: "true"

###############
# db fizzbuzz #
###############
  mariadb:
    image : mariadb:latest
    hostname: mariadb
    environment: 
      MYSQL_ROOT_PASSWORD: root #password root, to access mysql database.
      MYSQL_DATABASE: DB
      TZ: Europe/Paris    #timezone for db datetime
    healthcheck:        #cmd to check for the database to be ready in accepting requests.
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
      interval: 20s #check health every 20s
    volumes:
      - mariadb-volume:/var/lib/mysql  #data persistence
      - ./dump.sql:/docker-entrypoint-initdb.d/dump.sql #sql script to execute when init
    networks: 
      - db-api

##########################
# phpmyadmin db fizzbuzz #
##########################
  phpmyadmin:
    image : phpmyadmin:latest
    hostname: phpmyadmin
    environment: 
      PMA_HOST: mariadb
    networks: 
      - db-api
      - backend

#################
# reverse proxy #
#################
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./swaggerui:/www/data/swaggerui
    ports:
      - 8080:80
    networks:
      - backend
    restart: always

################
# api fizzbuzz #
################
  api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/fizzbuzz-api
      - ./parameters/parameters.json:/go/config/config.json #choose specific api config
    hostname: api
    depends_on: 
      mariadb:
        condition: service_healthy #Wait for the database to be ready in accepting requests.
    networks: 
      - db-api
      - backend
    environment:
      - CGO_ENABLED=0
      - GOOS=linux
      - GOARCH=amd64

  # -----------------------------------------------------------------------------------------------------------------------------------------------------
  #  Test Dockerfile.prod image for GitlabCI - /ยง\ Don't forget to rebuild your image before, and after if you switch back to 'Dockerfile' image
  # -----------------------------------------------------------------------------------------------------------------------------------------------------
  # api:
  #     build:
  #       context: .
  #       dockerfile: Dockerfile.prod
  #     hostname: api
  #     volumes :
  #       - ./parameters/parameters.json:/go/config/config.json #choose specific api config
  #     depends_on: 
  #       mariadb:
  #         condition: service_healthy #Wait for the database to be ready in accepting requests.
  #     networks: 
  #       - db-api
  #       - backend
  #     environment:
  #       - CGO_ENABLED=0
  #       - GOOS=linux
  #       - GOARCH=amd64

